{% extends "bootstrap/base.html" %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width">
<title>Image Color Palette Generator</title>
{{ moment.include_moment() }}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href= "{{ url_for('static', filename='css/styles.css') }}">
<!--<link rel="stylesheet" href= "{{ url_for('static',filename='css/styles.css') }}">-->
{% endblock %}
{% block favicon %}
<link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico')}}" type="image/x-icon">
{% endblock %}
{% endblock %}
{% block navbar %}
<nav class="navbar sticky-top navbar-dark bg-secondary">
  <a class="navbar-brand" href="#">
    <h1><img src="static/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Image Color Palette Generator</h1>
  </a>
</nav>
{% endblock %}

